---
import "../styles/global.css";
const { title = "Quasar Dev" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <!-- SEO
-->
    <meta
      name="description"
      content="Desarrollo de páginas web y sistemas en
Bolivia. Creamos soluciones digitales que generan clientes."
    />
    <meta
      name="keywords"
      content="desarrollo web, sistemas, Bolivia, software"
    />
    <!--
Alpine CDN -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.11/dist/cdn.min.js"
    ></script>
  </head>
  <body class="bg-slate-950 text-white font-sans">
    <!-- Fondo PRO -->
    <div
      class="fixed inset-0 -z-10 bg-linear-to-br from-slate-950 via-slate-900
to-slate-950"
    >
    </div>
    <slot />
  </body>
</html>
